# Weather API configuration
WEATHER_API_KEY=0254aeaecc096db615c50b1e88a17b42

# Email configuration (for SMTP)
SENDER_EMAIL=nandaninaulaa2@gmail.com
SENDER_PASS=your_app_password_here

# Twilio configuration (for SMS)
TWILIO_ACCOUNT_SID=<your_twilio_account_sid>
TWILIO_AUTH_TOKEN=<your_twilio_auth_token>
TWILIO_PHONE=+919315323441
